.idea/
bin/
cmake-build-*/
CMakeFiles/

calculator/calculator_async_client

calculator/calculator_async_server

calculator/calculator_client

calculator/calculator_server

calculator/libcalculator_grpc_proto.a

calculator/Makefile

cmake_install.cmake

CMakeCache.txt

Makefile

sample/libsample_grpc_proto.a

sample/sample_async_client

sample/sample_async_server

sample/sample_client

sample/sample_server

Testing/Temporary/LastTest.log
